.nav {
  display: flex;
  justify-content: space-between;
}
.nav h1{
  color: darkblue;
  margin: 0;
  font-size: 40px;
  padding-top: 5px;
}
.nav ul{
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav li{
  padding-left: 15px;
  padding-top: 15px;
}
.nav .nav-search{
  margin-top: 10px;
  flex: 1;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}
.nav .nav-search input{
  flex: 1;
  color: darkblue;
  border: 1px solid black;
  border-right: 0;
  height: 35px;

}
.nav .nav-search button{
  color: darkblue;
  border: 1px solid darkblue;
  height: 35px;
  border-left: 0;
}
.nav li a{
  text-decoration: none;
  color: darkblue;
  cursor: pointer;
}
h1 a{
  color:darkblue;;
  text-decoration: none;
}
mat-icon
{
  font-size: 20px;
}
.suggested-result{
  position: absolute;
  display: list-item !important;
  z-index: 10;
  background-color: white;
  width: 750px;
  /*backdrop-filter: blur(5px);*/
  top: 40px;
  border-bottom: 1px solid #ddd;
}
.suggested-result li{
  border-bottom: 1px solid #ddd;
  padding: 5px;
}
.suggested-result li a{
  cursor: pointer;
  color: darkblue;
}
