ul{
  margin: 0;
  padding: 0;
}
.footer {
  padding: 10px;
  text-align: center;
  position: fixed;
  height: 40px;
  border-top: 1px solid black;
  bottom: 0;
  right: 0;
  left: 0;
  backdrop-filter: blur(2px);
}
.footer ul{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.footer ul li a{
  color: darkblue;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
