<h1 mat-dialog-title>Terms & Condition</h1>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
  <h3>Acceptance of Terms</h3>
  <p>By accessing or using our application, you agree to be bound by these Terms and Conditions. If you do not agree with any part of these terms, you may not use the application.</p>

  <h3>Use of the Application</h3>
  <p>Your use of the application is at your sole risk. The application is provided on an "as is" and "as available" basis.</p>

  <h3>Privacy Policy</h3>
  <p>Our Privacy Policy outlines how we collect, use, and disclose information. By using the application, you consent to the terms described in our Privacy Policy.</p>

  <h3>Intellectual Property</h3>
  <p>All content and features of the application are protected by intellectual property laws. You may not reproduce, distribute, or create derivative works without our express consent.</p>

  <h3>Disclaimer</h3>
  <p>The information provided by the application is for general informational purposes only. We make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, or suitability of the information.</p>

  <h3>Changes to Terms</h3>
  <p>We reserve the right to modify or replace these Terms and Conditions at any time. Your continued use of the application after any changes constitutes acceptance of the new terms.</p>
<br>
  <p style="text-align: center;font-style: unset;color: red; font-weight: 20;font-size: 16px">Please read these Terms and Conditions carefully before using our application.</p>

</mat-dialog-content>
<mat-dialog-actions align="end" style="margin-right: 40px">
  <button mat-button mat-dialog-close style="color: red">Cancel</button>
  <button mat-button [mat-dialog-close]="true" style="color: darkgreen">Agree</button>
</mat-dialog-actions>
