<!--<div class="add-product">-->
<!--  <h1>Add New Product</h1>-->
<!--  <p class="message-p">{{productMessage}}</p>-->
<!--  <form #addProduct="ngForm"-->
<!--        (ngSubmit)="submit(addProduct.value)"-->
<!--        class="common-form">-->
<!--    <input-->
<!--      type="text"-->
<!--      class="form-input"-->
<!--      placeholder="Enter Product Name"-->
<!--      name="name"-->
<!--      ngModel-->
<!--    />-->
<!--    <input-->
<!--      type="text"-->
<!--      class="form-input"-->
<!--      placeholder="Enter Product Price"-->
<!--      name="price"-->
<!--      ngModel-->
<!--    />-->
<!--    <input-->
<!--      type="text"-->
<!--      class="form-input"-->
<!--      placeholder="Enter Product Category"-->
<!--      name="category"-->
<!--      ngModel-->
<!--    />-->
<!--    <input-->
<!--      type="text"-->
<!--      class="form-input"-->
<!--      placeholder="Enter Product Color"-->
<!--      name="color"-->
<!--      ngModel-->
<!--    />-->
<!--    <textarea-->
<!--      type="text"-->
<!--      class="form-input"-->
<!--      placeholder="Enter Product Description"-->
<!--      name="description"-->
<!--      ngModel-->
<!--    ></textarea>-->

<!--    <input-->
<!--      type="text"-->
<!--      class="form-input"-->
<!--      placeholder="Enter Product Image URL"-->
<!--      name="image"-->
<!--      ngModel-->
<!--    />-->
<!--    <button class="form-button">Add Product</button>-->

<!--  </form>-->
<!--</div>-->






<div class="add-product">
  <h1 style="text-align: center">Add Product</h1>
  <p class="message-p">{{ productMessage }}</p>

  <br>

  <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="common-form">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="Enter Product Name"
        name="name"
        ngModel
        #name="ngModel" required
      />
      <mat-error *ngIf="name.invalid"> Enter name of the product</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>

      <input
        matInput
        placeholder="Enter Product Price"
        name="price"
        ngModel
      #price="ngModel" required/>
      <mat-error *ngIf="price.invalid">Enter price of the product</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>

      <input
        matInput
        placeholder="Enter Product Category"
        name="category"
        ngModel
      #category="ngModel" required
      />
      <mat-error *ngIf="category.invalid"> Enter category of the product</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Color</mat-label>

      <input
        matInput
        placeholder="Enter Product Color"
        name="color"
        ngModel/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>

      <textarea
        matInput
        placeholder="Enter Product Description"
        name="description"
        ngModel
      #description="ngModel" required></textarea>
      <mat-error *ngIf="description.invalid">Write the product description</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Image</mat-label>

      <input
        matInput
        placeholder="Enter Product Image URL"
        name="image"
        ngModel
      #image="ngModel" required/>
      <mat-error *ngIf="image.invalid"> Enter the product image url</mat-error>
    </mat-form-field>

    <button [disabled]="addProduct.invalid" mat-raised-button color="primary">Add Product</button>
  </form>
</div>
