<div class="row product-details" *ngIf="productData">
    <div class="col-sm-6">
        <img  class="product-img" src="{{productData.image}}" alt="">
    </div>
    <div class="col-sm-6">
        <div class="details">
            <h1>{{productData.name}}</h1>
            <h3>Price : {{productData.price}}</h3>
            <div>Color :<h4 [style.background-color]="productData.color"  class="product-color"></h4></div>
            <h5>Category : {{productData.category}}</h5>
            <h5>Description : {{productData.description}}</h5>
            <button mat-raised-button style="border:2px solid cadetblue;" >Buy Now</button>
            <button mat-raised-button color="warn" >Remove from Cart</button>
            <button  mat-raised-button style="background-color: cadetblue;color: white">Add to Cart</button>
            <div class="quantity-group">
                <button mat-raised-button (click)="handleQuantity('min')" style="border:2px solid cadetblue;font-weight: bold" >-</button>
                <input type="text" value="{{productQuantity}}"  />
                <button mat-raised-button (click)="handleQuantity('plus')" style="border:2px solid cadetblue;margin-left: 10px;font-weight: bold" > + </button>

            </div>
        </div>
    </div>
</div>
