
img{
  height: 100px;
  width: 100px;
}
table td {
  padding: 10px;
  min-width: 160px;
    /*text-align: center !important;*/
    vertical-align: middle !important;
}
table th {
  padding: 10px;
  color: darkblue;
  font-weight: bold;
  min-width: 160px;
    /*text-align: center !important;*/
    vertical-align: middle !important;
}
.adjust-update-link{
  margin-left: 10px;
}
mat-icon{
  cursor: pointer;
}
th.mat-sort-header-sorted {
  color: black;
}
