<div class="seller-auth">

<!--  SIGN UP SELLER-->

  <div class="signup" *ngIf="!showLogin">
    <h1>Seller Sign-Up</h1>
    <img src="assets/signingup.png" style="height:300px">
    <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">

      <mat-form-field appearance="outline" >
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter Your Name"  ngModel name="name" #name="ngModel" required minlength="2" >
        <mat-error *ngIf="name.invalid && name.touched">Please Enter a valid Name (min 2 characters)</mat-error>

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter Your Email"  ngModel name="email" #email="ngModel" required email>
        <mat-error *ngIf="email.invalid && email.touched">Please Enter a valid email (eg: abc&#64;gmail.com)</mat-error>

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter Your Password"  ngModel name="pass" #password="ngModel" required minlength="8" maxlength="20">
        <mat-error *ngIf="password.invalid && password.touched">Please Enter a valid password(min 8 characters)</mat-error>
      </mat-form-field>

      <button [disabled]="sellerSignUp.invalid" mat-raised-button color="primary">Sign Up</button>
      <br>.
      <a (click)="openLogin()">Already have account ? Click here !</a>

    </form>

  </div>

<!--LOGIN SELLER-->

  <div class="login" *ngIf="showLogin">
    <h1>Seller Login</h1>
    <img src="assets/signing.png" style="height:300px">
    <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
      <p style="color: red; font-style: italic">{{authError}}</p>
      <br>
      <mat-form-field appearance="outline" >
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter Your Email"  ngModel name="email" #email="ngModel" required email >
        <mat-error *ngIf="email.invalid && email.touched">Please Enter a valid email</mat-error>

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter Your Password"  ngModel name="password" type="password" #password="ngModel" required minlength="8" maxlength="20">
        <mat-error *ngIf="password.invalid && password.touched">Please Enter a valid password</mat-error>

      </mat-form-field>
      <button [disabled]="sellerLogin.invalid" mat-raised-button color="primary">Login</button>
      <br>
      <a (click)="openSignUp()">Don't have account ? Sign Up !</a>
    </form>
  </div>
</div>
