<div>
  <ngb-carousel *ngIf="popularProducts">
    <ng-template  *ngFor="let item of image" ngbSlide>
      <div class="picsum-img-wrapper">
        <a > <img class="product-header-image" src="{{item}}" alt="Random first slide">
        </a>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<hr>
<div class="product-list-wrapper">
  <h1>Trendy Products</h1>
  <div class="row">
    <div class="col-sm-3" *ngFor="let item of trendyProducts">
      <div class="product-item">
        <img src="{{item.image}}" alt="">
        <div class="product-details">
          <h6 class="name-head">{{item.name}}</h6>
          <div class="product-price">
            <h5>Price:{{item.price}}</h5>
          </div>
          <div class="product-color">
            <h5>Color:{{item.color}}</h5>
          </div>
        </div>
        <div class="product-footer">
          <a>View Details</a>
          <a href=""><mat-icon color="primary">add_shopping_cart</mat-icon></a>

        </div>
      </div>
    </div>


  </div>
</div>
